@charset "utf-8";

a{color: #333;margin: 0 auto;}
.box{color: #f00;}

h1{font-weight: normal;font-size: 15px;line-height: 50px;text-align: center;}
h2{text-align: center;font-size: 14px;color: #e2c;margin: 0;padding: 0;display: block}